@import '_style.scss';

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width: 1200px;
	margin: 0px auto;
}

.templateRow{
	content:" ";
	display:table;
}

.row{
	&:before{
		@extend .templateRow;
	}
	&:after{
		@extend .templateRow;
		clear: both;
	}
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

@function anchoDeColumnas($i){
	@return percentage(($i/12));
}

@for $i from 1 through 12{
	.col-#{$i}{
		width: anchoDeColumnas($i);
	}
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color:white;

}

#contenedor-principal{
	#menu{
		border-bottom: solid thin #F0F0F0;
		padding-bottom: 5px;
		.icon{
			color:#C8C8C8;	
			i{
				padding-right: 2px;
			}
			.fa{
				color: red;
			}
		}
		.search{
			background-color: #F0F0F0;
			border-right: solid thin silver;
			i{
				padding-right: 5px;
			}
			.fa{
				color: white;
			}
		}
		.drop{
			background-color: #F0F0F0;
			text-align: right;
			.fa{
				padding-left: 5px;
			}
		}
		input{
			border: none;
			background-color:transparent;
			width: 93%;
			height: 16px;
		}
		.caja-com{
			margin-left: 10px;
			padding: 6px;
			background-color: silver;
			border-radius: 20px;
		}
	}

	#resultados{
		background-color: silver;
		margin: 1% 9%;
	}

	#pines{
		margin: 0 9%;
		.pin{
			font-size: 14px;
			margin: 2px 5px;
			.imagen{
				width: 100%;
				img{
					width: 100%;
					border-radius:10px;
				}
			}
			h3{
				width: 78%;
				float: left;
				font-weight: 400;
			}
			.contadores{
				font-size: 10px;
				color: silver;
			}
		}
	}
}