@import '_style.scss';

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width: 1200px;
	margin: 0px auto;
}

.templateRow{
	content:" ";
	display:table;
}

.row{
	&:before{
		@extend .templateRow;
	}
	&:after{
		@extend .templateRow;
		clear: both;
	}
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

@function anchoDeColumnas($i){
	@return percentage(($i/12));
}

@for $i from 1 through 12{
	.col-#{$i}{
		width: anchoDeColumnas($i);
	}
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color:white;
}

#contenedor-principal{
	#menu{
		border-bottom: solid thin #F0F0F0;
		padding-bottom: 3px;
		color: #575757;
		.icon{
			color:#C8C8C8;	
			i{
				padding-right: 2px;
			}
			.fa{
				color: #cb2027;
				font-size: 30px;
			}
		}
		.search{
			background-color: #F0F0F0;
			border-right: solid thin silver;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			i{
				padding-right: 5px;
			}
			.fa{
				color: silver;
			}
		}
		.drop{
			background-color: #F0F0F0;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			text-align: right;
			.fa{
				padding-left: 5px;
				font-size: 20px;
				font-weight: 700;
				margin-left: 10px;
				color:silver;
			}
		}
		input{
			border: none;
			background-color:transparent;
			width: 90%;
			height: 20px;
		}
		input[placeholder]{
			color: silver;
			font-size: 16px;
			margin-left: 10px;
		}

		.user{
			.fa{
				margin-left: 40px;
				margin-right: 10px;
				font-size: 25px;
				color: #f0cdc9 ;
			}
		}
		.bars{
			color: #c0c0c0;
			font-size: 23px;
			padding-top: 5px;;
			span{
				font-size: 9px;
				position: absolute;
				background-color: #cb2027;
				border-radius: 9px;
				color: white;
				padding-left:3px;
				top:20px;
				right:35px;
				width: 14px;
				height: 14px;
			}

		}
		.caja-com{
			margin-left: 10px;
			padding: 6px;
			background-color: #e0e0e0;
			border: solid 1px #f2eded;
			border-radius: 20px;
			font-size: 23px;
			color:grey;
		}
	}

	#resultados{
		margin: 1% 9%;
		.res{
			padding:15px;
			background-image: url('../assets/img/1.jpg');
			border-radius: 5px;
			display: inline-block;
			margin: 0 4px;
			color: white;
			font-size: 12px;
			font-weight: 700;
		}
	}

	#pines{
		column-width: 200px;
		column-gap: 15px;
  		width: 90%;
		max-width: 1100px;
		margin: 50px auto;
		div#pin{
			font-size: 14px;
			margin: 0 2px 20px;
  			display: inline-block;
  			column-break-inside: avoid;
			.imagen{
				img{
					width: 100%;
					border-radius:10px;
				}
			}
			h3{
				width: 70%;
				float: left;
				font-weight: 700;
				color: #575757;
			}
			.contadores{
				font-size: 10px;
				color: silver;
				.fa {
					padding-left:3px;
					padding-right:1px;
				}
			}
			p{
				padding: 2px 0;
				clear: both;
			}
			.user{
				font-size: 10px;
				.letra{
					background-color: #f0cdc9;
					width: 26px;
					height: 26px;
					padding: 3px 2px 4px 6px;
					border-radius: 20px;
					font-size: 14px;
					font-weight: 700;
					color: white;
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}