@import '_style.scss';

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.container{
	width:100%;
	max-width: 1200px;
	margin: 0px auto;
}

.templateRow{
	content:" ";
	display:table;
}

.row{
	&:before{
		@extend .templateRow;
	}
	&:after{
		@extend .templateRow;
		clear: both;
	}
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}

@function anchoDeColumnas($i){
	@return percentage(($i/12));
}

@for $i from 1 through 12{
	.col-#{$i}{
		width: anchoDeColumnas($i);
	}
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color:white;

}

#contenedor-principal{
	#menu{
		border-bottom: solid thin #F0F0F0;
		padding-bottom: 5px;
		.icon{
			color:#C8C8C8;	
			i{
				padding-right: 2px;
			}
			.fa{
				color: red;
			}
		}
		.search{
			background-color: #F0F0F0;
			border-right: solid thin silver;
			i{
				padding-right: 5px;
			}
			.fa{
				color: white;
			}
		}
		.drop{
			background-color: #F0F0F0;
			text-align: right;
			.fa{
				padding-left: 5px;
			}
		}
		input{
			border: none;
			background-color:transparent;
			width: 93%;
			height: 16px;
		}
		.caja-com{
			margin-left: 10px;
			padding: 6px;
			background-color: silver;
			border-radius: 20px;
		}
	}

	#resultados{
		background-color: silver;
		margin: 1% 9%;
	}

	#pines{
		column-width: 200px;
		column-gap: 15px;
  		width: 90%;
		max-width: 1100px;
		margin: 50px auto;
		div#pin{
			font-size: 14px;
			margin: 0 2px 15px;
  			display: inline-block;
  			column-break-inside: avoid;
			.imagen{
				img{
					width: 100%;
					border-radius:10px;
				}
			}
			h3{
				width: 70%;
				float: left;
				font-weight: 700;
				color: grey;
			}
			.contadores{
				font-size: 10px;
				color: silver;
				.fa {
					padding-left:3px;
					padding-right:1px;
				}
			}
			p{
				padding: 2px 0;
				clear: both;
			}
			.user{
				font-size: 10px;
				.letra{
					background-color: crimson;
					width: 26px;
					height: 26px;
					padding: 3px 2px 4px 6px;
					border-radius: 20px;
					font-size: 14px;
					font-weight: 700;
					color: white;
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}